/* Write your CSS here */

.header-container {
  background-color: #cbd5e1;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: 50px;
  margin-left: 50px;
}
. input-heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #475569;
}
